<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Provinces
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Provinces</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ul style="text-align: left;">
      <li [routerLink]="['/ulster']">Ulster</li><br>
      <li [routerLink]="['/munster']">Munster</li><br>
      <li [routerLink]="['/connaught']">Connaught</li><br>
      <li [routerLink]="['/leinster']">Leinster</li><br>
    </ul>
  </div>
</ion-content>
